* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gotham Pro';
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(209.33deg, #2407D5 0%, #3F7AD8 100%);
  padding-top: 17px;
  padding-bottom: 24px;
  overflow: hidden;
}

.header .container {
  position: relative;
}

.header__logo {
  display: block;
  margin: 0 auto;
}

.header__title {
  font-size: 32px;
  line-height: 120%;
  color: white;
  font-weight: 900;
  margin-top: 30px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 125%;
  color: white;
  margin-top: 20px;
  font-weight: 500;
}

.header__desc {
  font-size: 14px;
  line-height: 120%;
  margin-top: 8px;
  color: white;
  margin-bottom: 169px;
}

.bold {
  font-weight: bold;
}

.btn-white {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 10px 10px 30px #093F95;
          box-shadow: 10px 10px 30px #093F95;
  border-radius: 12px;
  background: #FFFFFF;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-white span {
  display: table;
  text-transform: uppercase;
  background: linear-gradient(182.71deg, #2407D5 0%, #3F7AD8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  line-height: 120%;
  font-weight: bold;
  color: #135BCD;
}

.header__emblem {
  position: absolute;
  width: 330px;
  bottom: -180px;
  right: -120px;
}

.header__document {
  position: absolute;
  bottom: -29px;
  width: 320px;
}

.header__btn {
  position: relative;
  z-index: 1;
}

.header__circles {
  position: absolute;
  top: -154px;
  left: -219px;
  width: 498px;
}

.know {
  padding-top: 20px;
  padding-bottom: 30px;
}

.know .container {
  position: relative;
}

.burger {
  height: 15px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  margin-bottom: 16px;
}

.burger__line {
  background: #135BCD;
  height: 1px;
  width: 100%;
}

.burger__line:last-child {
  width: 16px;
}

.title-blue {
  background: linear-gradient(182.46deg, #2407D5 0%, #3F7AD8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: #135BCD;
}

.know__title {
  margin-bottom: 17px;
}

.know__text {
  font-size: 16px;
  line-height: 145%;
  color: #242424;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.know__money {
  position: absolute;
  left: 40px;
  bottom: -7px;
}

.btn-blue {
  width: 100%;
  height: 60px;
  background: linear-gradient(183.88deg, #2407D5 0%, #3F7AD8 100%);
  border-radius: 12px;
  border: none;
  -webkit-box-shadow: 10px 10px 30px rgba(19, 91, 205, 0.3);
          box-shadow: 10px 10px 30px rgba(19, 91, 205, 0.3);
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.know__btn {
  margin-top: 193px;
  position: relative;
  z-index: 1;
}

.burger-white .burger__line {
  background: white;
}

.law {
  background: linear-gradient(217.16deg, #2407D5 0%, #3F7AD8 100%);
  padding-top: 20px;
  padding-bottom: 45px;
}

.title-white {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: white;
}

.law__title {
  margin-bottom: 30px;
}

.law__img-background {
  width: 70px;
  height: 70px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.225) 0%, rgba(255, 255, 255, 0) 82.54%);
}

.law__img-wrap {
  position: relative;
  width: 70px;
}

.law__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.law__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.law__item:last-child {
  margin-bottom: 0;
}

.law__item-desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}

.law__text {
  margin-top: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: white;
}

.law__btn {
  margin-top: 45px;
}

.author {
  overflow: hidden;
}

.author .container {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}

.author__name {
  font-size: 18px;
  line-height: 125%;
  color: #242424;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 12px;
}

.author__text {
  font-size: 14px;
  line-height: 145%;
  color: #242424;
  margin-bottom: 240px;
  position: relative;
  z-index: 1;
}

.author__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.author__btn {
  position: relative;
  z-index: 1;
}

.author__emblem {
  position: absolute;
  left: 60px;
  top: 245px;
  z-index: -1;
  width: 330px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(190.37deg, #2407D5 0%, #3F7AD8 100%);
}

.footer__email {
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 28px;
  text-decoration: none;
}

.footer__text {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.inside {
  background: linear-gradient(234.35deg, #2407D5 0%, #3F7AD8 100%);
  padding-top: 20px;
  padding-bottom: 64px;
  overflow: hidden;
  position: relative;
}

.inside__title {
  margin-bottom: 37px;
}

.inside__list-left {
  width: 1px;
  height: 189px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 22px;
}

.inside__left-item {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}

.inside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inside__right-item {
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 35px;
  color: white;
}

.inside__right-item:last-child {
  margin-bottom: 0;
}

.inside__circles {
  top: -120px;
  left: -249px;
  position: absolute;
}

.inside__promo {
  margin-top: 45px;
  height: 77px;
  background: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inside__promo-text {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 125%;
}

.inside__docs {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}

.author__img {
  width: 320px;
}

.know__money {
  width: 320px;
}

.inside__read {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: white;
  padding-bottom: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.inside__read-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inside__cost-title {
  margin-top: 88px;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 35px;
}

.inside__cost-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inside__cost-old {
  font-weight: 900;
  font-size: 30px;
  line-height: 125%;
  letter-spacing: 0.06em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FFFFFF;
  margin-left: 52px;
}

.rouble {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-weight: 900;
}

.inside__cost-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inside__cost-now {
  font-weight: 900;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0.06em;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

.inside__text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 39px;
}

.feedback {
  padding-top: 20px;
  padding-bottom: 70px;
}

.feeback__title {
  margin-bottom: 25px;
}

.feedback__btn {
  margin-top: 40px;
}

.inside__btn {
  margin-top: 40px;
}

.feedback__item-img {
  width: 48px;
  margin-right: 16px;
}

.feedback__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.feedback__item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #242424;
}

.feedback__item-desc {
  font-size: 12px;
  line-height: 120%;
  color: rgba(36, 36, 36, 0.5);
}

.feedback__item-text {
  padding: 18px;
  background: linear-gradient(186.71deg, #2407D5 0%, #3F7AD8 100%);
  border-radius: 2px;
  font-size: 14px;
  line-height: 128%;
  color: #FFFFFF;
}

.feedback__item:not(:last-child) {
  margin-bottom: 35px;
}
